@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

.container_home{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5em;
    /* background-color: salmon; */
    font-family: Roboto;
    width: 100%;
}

.title{
    color: #363636;
    /* background-color: #FFBCBC; */
    margin: 0px;
    padding-top: 1em;
}
.titleTwo{
    color: #363636;
    margin: 0px;
    font-size: 20px;
}
.container_form{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
}
.Search{
    border: 0;
    background: transparent;
    border-bottom: 2px solid black;
    font-size: 25px;
    margin-left: 10px;
    
}
.buscar{
    width: 30px;
    height: 30px;
}





