@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

.nav-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,255,255, 0.25);
}
.containerLogo {
  display: flex;
  margin: 5px;
}
.containerLinks {
  display: flex;
  align-items: center;
}
.links:hover {
  cursor: pointer;
  color: #4cd3c2;
}
.links {
  padding-right: 2em;
  font-family: Roboto;
  font-size: 20px;
}




